/*importando as fontes do goole*/

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/*zerando as margens e paddings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

/*padronizando o corpo da pagina*/
body {
    text-align: center;
    background: linear-gradient(to bottom, #01080e, rgb(41, 40, 40));
    min-height: 100vh;
}

/*padronizando o conteudo da class main, para um bloco*/
main {
    display: inline-block;
    margin-top: 2%;
    padding: 10px;
    position: relative;
    
}

/*configurando responsibilidade da imagen */

.logo {
    width: 5%;
    max-width: 200px;
}

/*configurando responsibilidade titulo*/
.titulo {
    font-weight: 600;
    top: 54.5%;
    font-size: clamp(20px, 5vw, 20px);
    
}

/*configurando responsibilidade do nome do pokemon*/

.nome {
    color: #f9dd1f;
    text-transform: capitalize; 
    
}

.texto{
    margin-top: 3%;
    margin-bottom: 2%;
}

.texto-1{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.texto-2{
    margin-top: 5%;
    color: #fff;
    font-weight: 600;
    font-size: clamp(13px, 2vw, 10px);
}
.texto-3{
    color: #f9dd1f;
    font-weight: 600;
    font-size: clamp(18px, 2vw, 10px);
    
}

.qrcode {
    width: 54%;
    height: 26%;
    margin-left: 18%;
}

/*configurando  os botao*/
.buttons {
    width: 65%;
    height: 25%;
    bottom: 5%;
    transform: translate(50%, 0);
    display: flex;
    gap: 20px;
}


.button {
    width: 54%;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(6px, 5vw, 1rem);
    font-weight: bold;
    background-color: #f9dd1f;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000; 
}

.icone {
    margin-left: 10%;
}

/*configurando de quando o botao estiver ativo*/

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.8rem;
}

.texto-rodape{
    padding-top: 2%;
}

.texto-4{
    color: #f9dd1f;
    font-weight: 200;
    font-size: clamp(16px, 2vw, 10px);
}

@media screen and (max-width: 800px) {
    .button {
        width: 54%; 
        padding: 2%;
        margin-bottom: 10px;  
        background-color: #f9dd1f;
        font-weight: bold;
        font-size: 8px;
    }
    .button:active {
        box-shadow: inset -4px 4px 0 #222;
        font-size: 0.4rem;
    }
  }

